* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

header .container img{
    width: 300px;
    padding-left: 80px;
}

header{
    width: 90%;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    padding: 10px;
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

nav a:hover{
    color: red;
}

.servicios{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 1000px;
}

.servicios img{
    width: 33%;
}

.nosotros{
    background-color: rgb(41, 41, 41);
}
.nosotros img{
    width: 100%;
}

.nosotros h2{
    font-size: 100px;
    padding: 30px;
    color: white;
    text-align: center;
    font-family: monospace;
}
.nosotros p{
    font-size: 35px;
    padding: 80px;
    color: white;
    text-align: justify;
}

#contacto{
    height: 1000px;
    width: 100%;
    background-color: gray;
}

.contacto h2{
    padding-top: 30px;
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: monospace;

}

.mapa{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer{
    background-color: rgb(34, 34, 34);
    height: 200px;

}

.footer h2{
    line-height: 200px;
    text-align: center;
    color: white;
    font-size: 20px;
}